<div class="container">
  <h1>Welcome to Anagrams!</h1>
  <p>By Christian and George!</p>

  <% if @anagrams %>
    <%= @anagrams %>
  <% end %>


</div>

# to do: 
make a form where the user types a word and when they click submit it routes to our GET route...

display output of @anagrams as a list (wrap each in <li></li> tags, surround by <ul></ul> tags)